.pennant {
	float: right;
	position: relative;
}

.pennant:hover {
	cursor: pointer;
}

#studentInput:hover + #studentText {
	color: white;
}
#studentText:hover {
	color: white;
}
#findInput:hover + #findText {
	color: white;
}
#findText:hover {
	color: white;
}
#aboutInput:hover + #aboutText {
	color: white;
}
#aboutText:hover {
	color: white;
}

.imageText {
	position: absolute;
	top: 0;
	font-family: "Fredoka One";
	font-size: 20px;
	background: rgba(0, 0, 0, 0);
	width: 95%;
	text-align: center;
}

.container {
	max-width: 720px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	float: left;
}

.container div {
	background-color: white;
	width: 100%;
	display: inline-block;
	display: none;
}

.container img {
	width: 100%;
	height: auto;
}